In [1]:
import os
import glob2
import numpy as np
import pandas as pd

In [2]:
from CTD_funcs import parse_btl_to_DataFrame

## Defining ins/outs etc

Change the directories as you see fit. *src_folder* should point to the location of the *.btl* files.

**Modify these folders so they point to the right place on your system!!**

In [3]:
base_folder = '..'

# Folder where .btl data are stored:
src_folder = os.path.normpath(os.path.join(base_folder, 'data/source/CTD/proc'))

# Folder where we want to export out parsed files
out_folder = os.path.normpath(os.path.join(base_folder, 'data/new/bottle_data'))

if not os.access(out_folder,1):
    print('out_folder not found, create it now:')
    print(out_folder)
    os.makedirs(out_folder)

In [4]:
# List of .btl files in this directory
btl_list = glob2.glob(os.path.join(src_folder, '*.btl'))

# From TT20/21: The file sta_022_02.btl" does not contain data; removing it
# btl_list.remove(os.path.join(src_folder, 'sta022_02.btl'))

### Functions for parsing individual .btl files 

--> Moved this to `CTD_funcs.py`

## Process and save

#### Loop through the files and produce .cnv files of the parsed results

In [5]:
for btl_fn in btl_list:
    
    btl_parsed = parse_btl_to_DataFrame(btl_fn)
    #filename_without_dir = btl_fn.replace(base_folder+'data/source/CTD/Processed/', '')
    filename_without_dir = btl_fn.replace(src_folder, '')
    filename_out = filename_without_dir.replace('btl', 'csv')
    btl_parsed.to_csv(out_folder + filename_out, index = False)
    
print(f'Done. New .csv files have been output to:\n {out_folder}')

Done. New .csv files have been output to:
 ..\data\new\bottle_data

##### Load output (example)

We now have easily human- and machine-readable files instead of btl. These files can also easily be loaded back into pandas:

In [6]:
csv_file_example = os.path.normpath(os.path.join(out_folder,filename_out[1:]))

# csv_file_example = out_folder + filename_out
print(f'Loading the file {csv_file_example}')

df = pd.read_csv(csv_file_example)

Loading the file ..\data\new\bottle_data\012.csv

In [7]:
# Inspect the loaded file:
df

,Bottle,Date,Time,Sal00,Sal11,PrDM,T090C,T190C,C0S/m,C1S/m,...,T090C_SD,T190C_SD,C0S/m_SD,C1S/m_SD,Sbox0Mm/Kg_SD,FlECO-AFL_SD,Xmi_SD,Bat_SD,V1_SD,V2_SD
0,1,Jan 31 2023,09:19:04,34.6560,34.6537,2561.386,-0.0369,-0.0355,2.983424,2.983364,...,0.0005,0.0003,0.000038,0.000028,0.227,0.0073,0.0101,0.0004,0.0002,0.0005
1,2,Jan 31 2023,09:38:04,34.6619,34.6594,2029.539,0.0557,0.0574,2.970800,2.970751,...,0.0007,0.0006,0.000064,0.000047,0.155,0.0042,0.0037,0.0002,0.0005,0.0002
2,3,Jan 31 2023,10:00:01,34.6756,34.6728,1011.218,0.4078,0.4094,2.959463,2.959380,...,0.0002,0.0002,0.000017,0.000013,0.151,0.0000,0.0000,0.0000,0.0006,0.0000
3,4,Jan 31 2023,10:10:30,34.6792,34.6770,502.762,0.6933,0.6951,2.961857,2.961837,...,0.0007,0.0008,0.000061,0.000070,0.117,0.0029,0.0000,0.0000,0.0000,0.0000
4,5,Jan 31 2023,10:13:37,34.6569,34.6545,250.993,0.7967,0.7975,2.957650,2.957530,...,0.0003,0.0003,0.000035,0.000027,0.308,0.0040,0.0037,0.0002,0.0005,0.0002
5,6,Jan 31 2023,10:15:56,34.4532,34.4443,99.226,-1.0128,-1.0307,2.781546,2.779389,...,0.0512,0.0567,0.004506,0.005080,3.239,0.0176,0.0126,0.0005,0.0004,0.0006
6,7,Jan 31 2023,10:16:26,34.3952,34.3913,74.823,-1.4361,-1.4278,2.740770,2.741186,...,0.0110,0.0101,0.001034,0.000849,0.475,0.0696,0.0079,0.0003,0.0006,0.0004
7,8,Jan 31 2023,10:16:51,34.3008,34.2972,53.986,-1.6813,-1.6797,2.712611,2.712481,...,0.0026,0.0021,0.000676,0.000643,0.612,0.0518,0.0071,0.0003,0.0003,0.0003
8,9,Jan 31 2023,10:17:18,34.1937,34.1914,39.104,-1.5674,-1.5667,2.713665,2.713556,...,0.0064,0.0049,0.000245,0.000185,0.429,0.0565,0.0468,0.0020,0.0000,0.0022
9,10,Jan 31 2023,10:17:43,34.0114,33.9985,24.423,-1.0941,-1.0225,2.739004,2.744001,...,0.0601,0.1126,0.004299,0.007954,0.626,0.0195,0.0554,0.0024,0.0000,0.0026
10,11,Jan 31 2023,10:18:09,33.9411,33.9406,10.617,-0.1916,-0.1964,2.808335,2.807899,...,0.0033,0.0030,0.000254,0.000233,0.180,0.0521,0.0320,0.0014,0.0000,0.0015

#### Save a local copy in the current directory 
Saving to the current folder so we can inspect it in the jupyterlab ide

After running the line below, a file should appear in the panel to the left. *Click this file to inspect it in another tab.*

In [8]:
# Save a copy of it here so we can inspect it in the jupyterlab ide
# (Saving to the current folder with the suffix "_local_copy.csv")
df.to_csv(filename_out[1:].replace('.csv', '_local_copy.csv'))